{% extends "base.html" %}

{% block title %}Товар{% endblock %}

{% load static %}
{% block content %}
<section class="img-layout">
    <div class="publication-date">
        <h2>{{ product.NAME }}</h2>
    </div>
    <div class="product-img">
        {% if IMG %}
        <img class="product-image"
             src="{% url 'task2:proxy_image' %}?url={{ IMG|urlencode }}"
             alt=""
             crossorigin="anonymous"/>
        {% else %}
        <img class="product-image"
             src="{% static 'IMGNOTFOUND.png' %}"
             alt=""
             crossorigin="anonymous"/>
        {% endif %}
    </div>
    <div class="publication-date">
        Дата публикации: {{ product.DATE_CREATE }}
    </div>
</section>
{% endblock %}