{% extends "base.html" %}

{% block title %}Добавь доставку!{% endblock %}

{% block content %}
  <h1 class="title-text">ДОБАВЬ ДОСТАВКУ!</h1>
  <section class="layout" align="center">
    <div class="quote-space">
      <hr class="add-form-container">
      <form action="{% url 'task1:add_delivery' %}" method="post" class="add-form">
        {% csrf_token %}
        {{ form }}
        <button class="form-button" type="submit">Добавить!</button>
      </form>
    </div>
  </section>
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}