<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Покажи задание...</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <section class="layout" align="center">
        <h1 class="title-text">Хочу увидеть задание...</h1>
        <form method="get" action="{% url 'task1:start_task1' %}">
            <button class="button" type="submit">1</button>
        </form>
        <form method="get" action="{% url 'task2:start_task2' %}">
            <button class="button" type="submit">2</button>
        </form>
        <form method="get" action="{% url 'task3:start_task3' %}">
            <button class="button" type="submit">3</button>
        </form>
        <form method="get" action="{% url 'task4:start_task4' %}">
            <button class="button" type="submit">4</button>
        </form>
        <form method="get" action="{% url 'task5:start_task5' %}">
            <button class="button" type="submit">5</button>
        </form>
    </section>
</body>

</html>